*{
    margin: 0;
    padding: 0;
}

.page-color{
    background-color: #d2dde751;
}

.principal-container{
    color: rgb(23, 22, 97);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}


header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;
    top: 0;
}

nav{
    position: absolute;
    right: 30px;
    bottom: 0px;
}

nav ul li{
    float: left;
    color: #fff;
    width: auto;
    margin: 0.8em;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3e49a6d3;
}

nav ul li a:hover{
    color: rgb(4, 4, 113);
}

h2{
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    border: 1px solid black;
}


#txt-blog ul{
    list-style: square inside url("sqpurple.gif");
    padding: 20px;
}

#txt-blog ul li{
    margin: 5px;
}


#txt-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#txt-cadastro form{
    width: 38%;
    position: relative;
    float: left;
    background-color: #fff;
    padding: 2%;
    border-radius: 10px;
    min-width: 400px;
}

#txt-cadastro form label{
    font-weight: bold;
  
}

#txt-cadastro form input{
    max-width: 100%;
    width: 99%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: solid rgba(0, 0, 255, 0.475) 1px;
    padding-left: 1%;
}

#txt-cadastro form button{
    width: 30%;
    height: auto;
    cursor: pointer;
    background-color: #3f4795fc;
    color: #fff;
    font-size: 1.5em;
    padding: 15px 0 15px 0;
    margin-left: 35%;
    margin-top: 1%;
    border-radius: 20px
}

footer{
    background-color: #3f4795fc;
   width: 100%;
   height: 50px;
   margin: auto;
   bottom: 0;
   position: fixed;
   text-align: center;

}

footer  a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.75rem;
}
